<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bili.pojo.mapper.user.BConcernMapper">

    <select id="selectConcernedByUserId" resultType="com.bili.pojo.vo.UserInfoShowVo">
        SELECT
            u.id,
            u.nick_name,
            u.avatar,
            ui.intro
        FROM
            b_user_info AS ui
                JOIN
            b_concern AS c ON c.concern_user_id = ui.user_id
                JOIN
            sys_user AS u ON u.id = ui.user_id
        WHERE
            c.user_id = #{userId};
    </select>

    <select id="selectFansByUserId" resultType="com.bili.pojo.vo.UserInfoShowVo">
        SELECT
            u.id,
            u.nick_name,
            u.avatar,
            ui.intro
        FROM
            b_user_info AS ui
                JOIN
            b_concern AS c ON u.user_id = ui.id
                JOIN
            sys_user AS u ON u.id = ui.user_id
        WHERE
            c.concern_user_id = #{userId};
    </select>
</mapper>